<div class='container-fluid'>
<form action='/' method='POST'>

  <img src="/assets/images/IdeaBox-logo.png" class="img" alt="Responsive image">
  <blockquote>
    <p>Seeing is Beliebing</p>
  </blockquote>
<p class='text-left'>
  Your Idea:
</br>
  Title:<input type='text' name='idea[title]'/><br/>
  Tags:<input type='text' name='idea[tags]'><br/>
  Description:<br/>
  <textarea name='idea[description]'></textarea><br/>
  <button type = 'submit' class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-ok"></span> Save Idea
  </button>
</p>
</form>
</div>
<a href="/details" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-zoom-in"></span> View All Ideas</a>
