<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
      body {
      background-image:url('/assets/images/notebook.png');
      }
    </style>

  </head>
  <body>
    <%= erb :_header %>
    <div class='container'>
        <img src="/assets/images/justin_bieber1.png" class="img" alt="Responsive image" align='right'>
        <%= yield %>
    </div>

  </body>
</html>
